/* bleu : #00B8FF */
/* bleu 2 : #1285B3 */
/* red : #FF1946 */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "montserrat";
}


/* LOGIN */
.login {
  height: 100vh;
  display: flex;
}

.login_1,
.login_2 {
  width: 50%;
}

.login_1 {
  background: url(../img/bg.jpg) center no-repeat;
  background-size: cover;
}

.login_2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.login_form {
  width: 50%;
  margin: 0 auto;
}

.login_form p {
  background-color: red;
  color: #FFF;
  padding: 20px 10px;
  font-size: 13px;
  font-weight: 500;
  border-radius: 3px;
  margin-bottom: 20px;
}

.login_form h2 {
  font-weight: 20px;
  margin-bottom: 20px;
  color: #1285B3;
}

.login_form label {
  display: block;
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 5px;
  color: #505050;
}


.login_form input {
  width: 100%;
  height: 50px;
  background-color: #FFF;
  border: 1px solid #C0C0C0;
  padding-left: 10px;
  border-radius: 3px;
  display: block;
  display: inline;
  margin-bottom: 20px;
  outline: none;
  color: #505050;
  font-size: 13px;
}

.login_form button {
  width: 50%;
  height: 50px;
  margin-top: 10px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #FFF;
  font-size: 13px;
  font-weight: bold;
  background-color: #00B8FF;
  transition: all linear .28s;
}

.login_form button:hover,
.login_form button:active {
  background-color: #1285B3;
}


/* MAIN */
.main {
  height: 100vh;
  display: flex;
}

.pannel {
  min-width: 200px;
  padding: 20px;
  background-color: #2A2A2A;
  border-right: 1px solid #3A3A3A;
}

.pannel .pannel_c {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.pannel .pannel_c a {
  text-decoration: none;
  font-size: 13px;
  font-weight: bold;
  padding: 15px 10px;
  color: #00B8FF;
  border-radius: 3px;
  background-color: #3A3A3A;
  box-shadow: 2px 10px 20px rgba(0,0,0,.3);
}

.body {
  width: 100%;
  overflow-y: scroll;
}

.body .search {
  display: flex;
  justify-content: space-between;
  padding: 20px 40px;
  background-color: #2A2A2A;
  position: relative;
}

.body .search .search_container {
  display: flex;
  width: 100%;
}

.body .search .search_container input {
  width: 60%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  padding-right: 40px;
  font-size: 14px;
  color: #A0A0A0;
  outline: none;
}

.body .search .search_container i {
  width: 30px;
  height: 40px;
  border-radius: 5px;
  border: none;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #000;
  transform: translateX(-40px);
  opacity: .2;
}


.body .search .deconnexion_form {}

.body .search .deconnexion_form button {
  height: 100%;
  min-width: 120px;
  color: #FFF;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
  background-color: #FF1946;
  cursor: pointer;
  border: none;
}

.body .search .deconnexion_form button:hover {
  background-color: #ff4268;
}



.form_c {
  padding: 40px;
  min-height: 100vh;
}

.form_c .first {
  color: #C5C5C5;
  font-size: 12px;
}

.form_c h2 {
  color: #505050;
  font-size: 22px;
  margin-bottom: 20px;
}

.form_c h3 {
  color: #666565;
  font-size: 16px;
}

.form_c form {
  max-width: 100%;
  max-width: 700px;
}

.form_c form {
}

.form_c form .form_c_row_1 {
  margin-bottom: 20px;
}

.form_c form .form_c_row_2 {
  display: flex;
  margin-bottom: 20px;
}


.form_c form .form_input_c {
  width: 100%;
  padding-right: 10px;
}

.form_c form .form_input_c label {
  display: block;
  font-size: 12px;
  margin-bottom: 5px;
  color: #505050;
}

.form_c form .form_input_c label span {
  color: #FF1946;
}

.form_c form .form_input_c p {
  color: #FF1946;
  font-size: 10px;
  margin-top: 5px;
  display: none;
}

.form_c form .form_input_c_error p {
  display: block;
}

.form_c form .form_input_c input,
.form_c form .form_input_c select {
  width: 100%;
  height: 50px;
  border-radius: 3px;
  border: none;
  padding-left: 10px;
  border: 1px solid #9A9A9A;
  font-size: 12px;
  color: #A0A0A0;
}

.form_c form .form_input_c input[type="text"]:disabled {
  background: #dddddd;
}

.form_c form .form_c_button {
  margin-top: 40px;
}

.form_c form .form_c_button button {
  height: 50px;
  width: 35%;
  border: none;
  color: #FFF;
  border-radius: 3px;
  color: #FFF;
  background-color: #00B8FF;
  transition: all linear .28s;
  cursor: pointer;
  outline: none;
}

.form_c form .form_c_button button:hover,
.form_c form .form_c_button button:active {
  background-color: #1285B3;
}


/* SEARCH RESULT */

.result_search {}

.result_search .header {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  padding: 20px;
}
.result_search .header div {
  font-size: 12px;
  font-weight: bold;
  color: #505050;
}

.result_search .row {
  display: grid;
  grid-template-columns: 2fr 1fr 3fr;
  padding: 20px;
  margin-top: 5px;
  border-radius: 5px;
}

.result_search .row:nth-child(2n) {
  background-color: rgb(241, 241, 241);
}

.result_search .row div {
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.result_search .row .actions{
  display: flex;
  justify-content: end;
  list-style: none;
}

.result_search .row .actions .benef_action{
  padding: 10px;
  text-decoration: none;
  margin-left: 10px;
  font-size: 10px;
  color: #FFF;
  border-radius: 3px;
  transition: all linear .28;
}

.benef_action_add_affection { background-color: #1285B3; }
.benef_action_add_affection:hover { background-color: #3992b6; }
.benef_action_add_prestation { background-color: #1285B3; }
.benef_action_add_prestation:hover { background-color: #3992b6; }
.benef_action_delet_benef { background-color: #FF1946; }
.benef_action_delet_benef:hover { background-color: #fc4368; }
.benef_action_detail { background-color: #b4b4b4; }
.benef_action_detail:hover { background-color: #cfcfcf; }


/* DETAILS BENEF */
.personnal_infos {
  padding: 20px 0;
}
.personnal_infos div {
  font-size: 14px;
  color: #3d3d3d;
  margin-bottom: 5px;
}
.personnal_infos div .strong {
  font-weight: bold;
}

.personnal_infos .actions {
  padding: 20px 0;
  display: flex;
}
.personnal_infos .action_benef {
  height: 50px;
  width: 220px;
  text-decoration: none;
  background-color: orange;
  margin-right: 20px;
  border-radius: 3px;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  color: #FFF;
  transition: all linear .28s;
}
.personnal_infos .action_benef_modif {background-color: #1285B3;}
.personnal_infos .action_benef_modif:hover {background-color: #00B8FF;}
.personnal_infos .action_benef_delet {
  background: none;
  border: 1px solid #FF1946;
  color: #FF1946;
}
.personnal_infos .action_benef_delet:hover {
  background: #FF1946;
  color: #FFF;
}


.affecs {
  margin-bottom: 40px;
}

.affecs ul,
.press ul {
  list-style: none;
}


.affecs ul .head,
.press ul .head {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  padding: 20px;
}

.press ul .head {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}

.affecs ul .head div,
.press ul .head div {
  font-size: 12px;
  font-weight: bold;
}

.affecs ul .row,
.press ul .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 2fr;
  padding: 20px;
  border-radius: 3px;
}
.press ul .row {
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 2fr;
}
.affecs ul .row:nth-child(2n),
.press ul .row:nth-child(2n) {
  background-color: rgb(241, 241, 241);
}
.affecs ul .row div,
.press ul .row div {
  font-size: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.affecs ul .row .actions,
.press ul .row .actions {
  display: flex;
  justify-content: end;
  flex-direction: row;
}
.affecs ul .row .actions .action_affec,
.press ul .row .actions .action_press {
  margin-left: 20px;
  height: 40px;
  width: 100px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  color: #fff;
  text-decoration: none;
}

.affecs ul .row .actions .action_affec_modif,
.press ul .row .actions .action_press_modif {background-color: #1285B3;}

.affecs ul .row .actions .action_affec_modif:hover,
.press ul .row .actions .action_press_modif:hover {background-color: #00B8FF;}

.affecs ul .row .actions .action_affec_delet,
.press ul .row .actions .action_press_delet {
  background: none;
  border: 1px solid #FF1946;
  color: #FF1946;
}
.affecs ul .row .actions .action_affec_delet:hover,
.press ul .row .actions .action_press_delet:hover {
  background: #FF1946;
  color: #FFF;
}

/* .first p {
  text-align: center;
} */

